@font-face {
  font-family: 'corsivaH';
  src: url('../../res/font/VnMonotypeCorsivaHItalic.eot');
  src: url('../../res/font/VnMonotypeCorsivaHItalic.eot?#iefix') format('embedded-opentype'),
    url('../../res/font/VnMonotypeCorsivaHItalic.woff2') format('woff2'),
    url('../../res/font/VnMonotypeCorsivaHItalic.woff') format('woff'),
    url('../../res/font/VnMonotypeCorsivaHItalic.ttf') format('truetype'),
    url('../../res/font/VnMonotypeCorsivaHItalic.svg#VnMonotypeCorsivaHItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}