// color =============================
$color1: #1e405c;         //text color
$color1-blur: #1e405cce;  //hover color
$color2: #2a2a2a;         // background
$color2-blur: #2a2a2ace;  
$color3: #fff;            //alt color
$color3-blur: #ffffff86;
// size ==============================
$font-size: 15px;

// font ==============================
$font:  Arial, Helvetica, sans-serif;
$font-logo: 'corsivaH';
