// -- selectors
.set-size {
  font-size: 9em;

  @include breakpoint(tablet) {
    font-size: 7em;
  }
}

.charts-container {
  @include flex(row, null, center);
  flex-wrap: wrap;

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  margin: 30px 50px;
  position: relative;
  filter: grayscale(80%);
  transition: all .5s ease;

  &:nth-child(3n + 1) {
    clear: both;
  }

  &:hover {
    filter: none;
    color: $color2;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    color: #ecf0f1;
    text-align: center;
    font-size: $label-font-size;
    line-height: $label-font-size-redo * .70;
    cursor: default;
    display: block;
    position: absolute;
    left: $label-font-size-redo / 10;
    right: $label-font-size-redo / 10;
    top: $label-font-size-redo / 10;
    bottom: $label-font-size-redo / 10;
    transform: scale(.5);

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &-title {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-50 {
    @include draw-progress(45, #9ebc1a);
  }

  &.progress-75.html {
    @include draw-progress(75, #ac291d);
  }

  &.progress-75.css {
    @include draw-progress(75, #1d78ac);
  }

  &.progress-50.sass {
    @include draw-progress(50, #cd6799);
  }

  @include breakpoint(tablet) {
    margin: 30px;

    &-title {
      font-size: 15px;
    }
  }
}